In [2]:
import pandas as pd
import mysql.connector as mysql
import sqlite3

In [3]:
fonciere = pd.read_excel('fonciere.xlsx')
commune = pd.read_excel('communes.xlsx')
geo = pd.read_excel('geo.xlsx')

c:\Users\utilisateur\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

In [4]:
fonciere.head()

,Code service CH,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2020-02-03,Vente,...,NaN,1,2,Appartement,NaN,52,2,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2020-01-02,Vente,...,NaN,2,2,Appartement,NaN,48,3,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2020-01-08,Vente,...,NaN,2,2,Appartement,NaN,130,6,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2020-01-06,Vente,...,NaN,1,1,Maison,NaN,109,5,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2020-01-07,Vente,...,NaN,2,2,Appartement,NaN,91,4,NaN,NaN,NaN

In [5]:
Bien = fonciere[["No voie","Code type de voie","Voie","Nombre pieces principales","Surface reelle bati","Surface Carrez du 1er lot","Type local"]]
Bien.drop_duplicates(inplace=True)
Bien.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34145 entries, 0 to 34168
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   No voie                    34012 non-null  float64
 1   Code type de voie          34145 non-null  int64
 2   Voie                       34145 non-null  object
 3   Nombre pieces principales  34145 non-null  int64
 4   Surface reelle bati        34145 non-null  int64
 5   Surface Carrez du 1er lot  34145 non-null  float64
 6   Type local                 34145 non-null  object
dtypes: float64(2), int64(3), object(2)
memory usage: 2.1+ MB

C:\Users\utilisateur\AppData\Local\Temp\ipykernel_16404\2705313718.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Bien.drop_duplicates(inplace=True)

In [6]:
geo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38916 entries, 0 to 38915
Data columns (total 37 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   regrgp_nom         38916 non-null  object
 1   reg_nom            38916 non-null  object
 2   reg_nom_old        38916 non-null  object
 3   aca_nom            38916 non-null  object
 4   dep_nom            38916 non-null  object
 5   com_code           38916 non-null  object
 6   com_code1          38916 non-null  object
 7   com_code2          38916 non-null  object
 8   com_id             38916 non-null  object
 9   com_nom_maj_court  38916 non-null  object
 10  com_nom_maj        38916 non-null  object
 11  com_nom            38916 non-null  object
 12  uu_code            7625 non-null   object
 13  uu_id              38916 non-null  object
 14  uucr_id            38916 non-null  object
 15  uucr_nom           38916 non-null  object
 16  ze_id              38916 non-null  object
 17  dep_code           38916 non-null  object
 18  dep_id             38916 non-null  object
 19  dep_nom_num        38916 non-null  object
 20  dep_num_nom        38916 non-null  object
 21  aca_code           38916 non-null  int64
 22  aca_id             38916 non-null  object
 23  reg_code           38916 non-null  int64
 24  reg_id             38916 non-null  object
 25  reg_code_old       38916 non-null  int64
 26  reg_id_old         38916 non-null  object
 27  fd_id              38916 non-null  object
 28  fr_id              38916 non-null  object
 29  fe_id              38916 non-null  object
 30  uu_id_99           38916 non-null  object
 31  au_code            21444 non-null  object
 32  au_id              38916 non-null  object
 33  auc_id             38916 non-null  object
 34  auc_nom            38916 non-null  object
 35  uu_id_10           38916 non-null  object
 36  geolocalisation    36745 non-null  object
dtypes: int64(3), object(34)
memory usage: 11.0+ MB

In [7]:
region = geo[["regrgp_nom","reg_nom","reg_code"]]

In [8]:
con = sqlite3.connect("final.db")

region.to_sql("region", con, if_exists="replace", index=False)

38916

In [9]:
region.drop_duplicates(inplace=True)
region.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19 entries, 0 to 2160
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   regrgp_nom  19 non-null     object
 1   reg_nom     19 non-null     object
 2   reg_code    19 non-null     int64
dtypes: int64(1), object(2)
memory usage: 608.0+ bytes

C:\Users\utilisateur\AppData\Local\Temp\ipykernel_16404\1856872497.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  region.drop_duplicates(inplace=True)

In [10]:
region.to_csv('region.csv')